Repository shiftboolean/template-fastapi, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, docs, tests, github-actions, dependencies, docker, fastapi, models, schemas, routers

:memo: Documentation Update
  CHANGELOG.md
  CONTRIBUTING.md
  LICENSE
  Versions.md
Labels: repo

Update README.md
  README.md
Labels: repo

Update README.md
  README.md
Labels: repo

Create dependabot.yml
  .github/dependabot.yml
Labels: github-actions

Update issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/custom.md
  .github/ISSUE_TEMPLATE/feature_request.md
Labels: github-actions

📝 Updated requirements.txt with dependency changes:
  requirements.txt
Labels: repo, dependencies

Update .pre-commit-config.yaml
  .pre-commit-config.yaml
Labels: repo

Update dependencies in requirements.txt
  .python-version
  requirements.txt
Labels: repo, dependencies

Fix linting script: update ruff command to use 'ruff check <path>'
  .github/workflows/lint.yml
  scripts/lint.sh
Labels: github-actions

.github/labeler.yml:

# Add 'repo' label to any root file changes
repo:
  - '*'

# Add 'docs' label to any changes to the docs folder
docs:
  - 'docs/**'

# Add 'tests' label to any changes to the tests folder
tests:
  - 'tests/**'

# Add 'github-actions' label to any changes to the .github folder
github-actions:
  - '.github/**'

# Add 'dependencies' label to any changes to requirements.txt or pyproject.toml or poetry.lock
dependencies:
  - 'requirements.txt'
  - 'pyproject.toml'
  - 'poetry.lock'

# Add 'docker' label to any changes to Dockerfile or docker-compose.yml
docker:
  - 'Dockerfile'
  - 'docker-compose.yml'

# Add 'fastapi' label to any changes in the app folder
fastapi:
  - 'app/**'

# Add 'models' label to any changes in the models folder
models:
  - 'models/**'

# Add 'schemas' label to any changes in the schemas folder
schemas:
  - 'schemas/**'

# Add 'routers' label to any changes in the routers folder
routers:
  - 'routers/**'
